<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des Patients</title>
</head>
<body>
<h1>Patients</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prix</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${listProduits}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.nom}"></td>
        <td th:text="${p.prix}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
